@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: .3s;
}

img {
  width: 15px;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    transition: .4s;
}

::-webkit-scrollbar-thumb {
    background-color: #2B2A30;
    border-radius: 10px;
}

::-webkit-calendar-picker-indicator {
    color: transparent;
    background-size: contain;
}

body {
    background-color: #000000;
    overflow-y: hidden;
}

button {
    cursor: pointer;
}

.hovered_block:hover {
    background-color: #2B2A30;
    color: white;

    img  {
        filter: invert(0%);
    }
}

aside {
    min-width: 20%;
    max-width: 30%;
    height: calc(100% - 75px);
    position: fixed;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.aside-top {
    height: 80px;
    width: 100%;
    background-color: #121212;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px 0 10px 15px;
    justify-content: center;

    img  {
        width: 15px;
        filter: invert(50%);
    }

    span {
        font-size: 10px;
    }

    div {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #B3B3B3;

       img {
        filter: invert(50%);
       }
    }

    

    .active-main {
        color: white;

        img  {
            filter: invert(0%);
        }
    }
}

.aside-bottom {
    height: 100%;
    width: 100%;
    background-color: #121212;
    border-radius: 5px;
}

.aside-bottom  {
    padding: 10px 15px;

    .mediaTeka-block{
        display: flex;
        align-items: center;
        color: #B3B3B3;

        justify-content: space-between;


        .rightmedia-teka,
        .left-mediateka {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .rightmedia-teka {

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                padding: 3px;
                cursor: pointer;
            }
        }



    span {
        font-size: 10px;
    }

    svg,
    img {
        filter: invert(50%);
    }
    }

    .categories-block  {
        width: 100%;
        display: flex;
        gap: 8px;


        button {
            padding: 5px 8px;
            color: white;
            background-color: #232323;
            border: none;
            border-radius: 15px;
            font-size: 10px;
            cursor: pointer;
        }

        button:hover {
            background-color: #2B2A30;
        }

        margin-top: 15px;
    }

    .search_mediateka_block {
        margin: 10px 0;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        position: relative;
        margin: 18px 0;


        .filter_recent_block {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            position: absolute;
            right: 5px;
        }

        button {
            border-radius: 100%;
            background-color: transparent;
            border: none;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0px;

            img {
                width: 12px;
                filter: invert(50%);
            }

        }

    }

.hovered:hover {
    background-color: #2B2A30;

    img {
        filter: invert(0%);
    }
}
    
    .mediate_song_block {
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: scroll;
        height: 73%;
        overflow-x: hidden;

        .mediateka_song {
            width: 100%;
            border-radius: 5px;
            height: 50px;
            padding: 5px;
            display: flex;
            gap: 10px;
            cursor: pointer;
            color: white;

            .media_song_descr {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            p {
                font-size: 10px;
            }

            span {
                font-size: 10px;
                color: #A2A2A2;
            }

            .song_poster {
                width: 40px;
                height: 40px;
                background-color: white;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        .mediateka_song:hover  {
            background-color: #2B2A30;
        }
    }
  
}

.audio-cont {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.audio-player {
    width: 500px;
    padding: 15px;
    color: white;

    span {
        font-size: 10px;
    }
  }
  
  .audio-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .song-details {
    flex: 1;
  }
  
  .play-pause {
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 5px;

    .sec-btn {
        background-color: transparent;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
        }
    }

    .next-song {
        background-color: transparent;
        border: none;
        margin-top: 2px;
        cursor: pointer;

        img {
            width: 20px;
        }
    }


    .sec-btn:active {
        scale: .9;
    }
  }
  
  .play-button {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    border-radius: 50%;
    text-align: center;

    img {
        height: 25px;
    }
  }

  .play-button:active {
    scale: .9;
  }
  
  .audio-controls {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .left_audio {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;

    .song-poster {
        width: 40px;
        height: 40px;
        background-color: #A2A2A2;
        border-radius: 5px;
    }

    a {
        font-size: 10px;
        text-decoration: none;
        color: white;
    }

    p {
        font-size: 8px;
        color: #B3B3B3;
    }

    img {
        cursor: pointer;
    }
  }
  
  .progress-bar {
    height: 4px;
    background-color: #535353;
    width: 100%;
    border-radius: 2px;
  }

  .right-audio {
    display: flex;
    align-items: center;
  }
  
  .progress {
    height: 100%;
    width: 0;
    background-color: white;
    border-radius: 2px;
    position: relative;
    transition: 0.3s ease-in-out;

    .progress-btn {
        position: absolute;
        right: -5px;
        top: -2.5px;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background-color: white;
        opacity: 0;
    }
  }

  .progress-bar:hover {
    .progress {
        background-color: #1ED760;
        cursor: pointer;
    
        .progress-btn {
            opacity: 1;
        }
      }
      
  }
 
  .time {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .volume {
    display: flex;
    align-items: center;

  }
  
  .volume-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;

    img {
        width: 18px;
        filter: invert(30%);
    }

    img:hover {
        filter: invert(0%);
    }
  }
  
  .volume-slider {
    background-color: #4D4D4D;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    position: relative;

   

    .volume-dinamic {
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        position: relative;

        .volume-btn {
            position: absolute;
            top: -3px;
            right: -3px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: white;
            opacity: 0;
            cursor: pointer;

    
        }
    }
  }

  .volume-slider:hover   {
    .volume-dinamic {
        background-color: #1ED760;

        .volume-btn {
            opacity: 1;
        }
    }
  }

  main::after {
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0px;
    z-index: 0;
    background: linear-gradient(#1D0E45 40%, transparent);
}

  main {
    position: absolute;
    top: 5px;
    left: calc(20% + 10px);
    width: calc(80% - 10px);
    padding: 0px 0px;
    transition: left 0.3s; 
    background-color: #121212;
    height: calc(100% - 75px);
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -2;

    .song_cont {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        flex-wrap: wrap;

        .song_top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 16px;
            cursor: pointer;
        }

        h1:hover {
            text-decoration: underline;
        }

        p {
            font-size: 10px;
            cursor: pointer;
            color: #B3B3B3;
        }

        p:hover {
            text-decoration: underline;
        }
        }

        .song_bottom {
            display: flex;
            gap: 15px;

            .song_block:hover {
                .song_poster {
                    button {
                        opacity: 1;
                        bottom: 5px;
                    }
                }
            }

            .song_block {
                height: 170px;
                width: 120px;
                background-color: #141414;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;

                .song_poster {
                    height: 60%;
                    width: 100%;
                    background-color: white;
                    border-radius: 3px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: relative;

                    button {
                        position: absolute;
                        border-radius: 100%;
                        padding: 5px;
                        background-color: #1ED760;
                        border: none;
                        bottom: 0px;
                        right: 5px;
                        display: flex;
                        align-items: center;
                        opacity: 0;

                        img {
                            width: 20px;
                        }
                    }

                    button:hover {
                        scale: 1.05;
                    }
                }


                .song_description {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    gap: 5px;

                    p {
                        font-size: 10px;
                        font-weight: 700;
                    }

                    span {
                        font-size: 8px;
                        color: #B3B3B3;
                    }
                }
            }

            .song_block:hover {
                background-color: #252525;
            }
        }
    } 

    .main-cont {
        width: 100%;
        height: 200%;
        background-color: transparent;
        position: absolute;
        top: 0;
        z-index: 2;
        color: white;
        padding: 50px 20px;

        .welcome-cont {
            margin-top: 10px;

            h1 {
                font-size: 22px;
                margin-bottom: 20px;
            }

            .welcome-block {
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 60px;

                .welcome_song_block:hover {
                    background-color: #454057;

                    button {
                        opacity: 1;
                    }
                }

                .welcome_song_block {
                    background-color: #2F2841;
                    border-radius: 3px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .song_poster {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 20%;
                        background-color: white;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    button {
                        position: absolute;
                        right: 10px;
                        border-radius: 100%;
                        background-color: #1ED760;
                        border: none;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        opacity: 0;

                        img {
                            width: 18px;
                        }
                    }

                    button:hover {
                        scale: 1.05;

                        img {
                            scale: 1.05;
                        }
                    }

                    .song_name {
                        margin-left: 75px;

                        p  {
                            font-size: 10px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

   

    .header-main {
        height: 40px;
        position: sticky;
        width: 100%;
        top: 0;
        background-color: #1C0E4030;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 6;

        .header-left{
            display: flex;
            align-items: center;
            gap: 5px;
            opacity: 1;
            button {
                border-radius: 100%;
                background-color: #090414;
                border: none;
                padding: 3px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 16px;
                }
            }
        } 

        .header-right {
            display: flex;
            align-items: center;
            gap: 8px;

            a {
                text-decoration: none;
            }

            button:hover {
                scale: 1.05;
            }

            button {
                border-radius: 15px;
                border: none;
                color: white;
                padding: 5px 8px;
                font-size: 10px;
                background-color: #0D061C;
                display: flex;
                align-items: center;
                gap: 5px;
                font-weight: 600;

                img {
                    width: 12px;
                }
            }

            .user-btn {
                border-radius: 100%;
                padding: 5px;

                img {
                    width: 16px;
                }
                
            }

            .btn-premium {
                background-color: white;
                color: #0D061C;
            }

        }

    }
}


.search-input {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: #2B2A30;
    border: none;
    padding: 5px 5px 5px 20px;
    border-radius: 2px;
    color: #A7A7A7;
    outline: none;
    font-size: 10px;
    font-weight: 700;
    position: relative;
    margin: -12px 0;

  }

  .show-input {
    width: 130px;
    opacity: 1;
  }

  .hidden {
    display: none;
    opacity: 1;
  }