main {
    color: white;
}


.about_song_cont {
    padding: 0 20px;
    color: white;
    display: flex;
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: #90B2BE;

    margin-top: -46px;

    .poster_cont {

        .song_poster {
            width: 200px;
            height: 200px;
            background-image: url("/public/img/no_img.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
        }
    }

    .descript_cont {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 100px;
        position: relative;

        p {
            font-size: 12px;
        }

        h2 {
        text-overflow: ellipsis; 
        white-space: nowrap; 
        overflow: hidden;
        }

        .artist_song {
            display: flex;
            position: absolute;
            bottom: 0;
            align-items: center;
            gap: 5px;
            width: 300px;


            .artist_poster {
                width: 30px;
                height: 30px;
                background-image: url("/public/img/no_img.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 100%;
            }
        }
    }
}

.play_cont {
    margin: 40px 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    button {
        background-color: #1ED760;
        border: none;
        padding: 5px 7px;
        margin-left: 10px;
        margin-right: 5px;
        border-radius: 100%;

        
        img  {
            width: 25px;
            margin-top: 2px;
            filter: invert(0);
        }
    }

    button:hover {
        scale: 1.05;
    }

    img {
        width: 20px;
        filter: invert(30%);
        cursor: pointer;
    }

    img:hover {
        filter: invert(0);
        scale: 1.05;
        
    }

    .like_icon {
        width: 30px;
        margin-right: 5px;
    }
}

main::after {
    content: "";
    display: block;
    width: 100%;
    height: 470px;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: linear-gradient(#90B2BE 70%, transparent);
}

.artists_cont {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    flex-direction: column;

    .artist_block:hover {
        background-color: #2A2A2A50;
    }

    .artist_block {
        display: flex;
        gap: 10px;
        padding: 5px;
        border-radius: 5px;
        margin-right: 30px;

        .artist_img {
            background-position: center;
            background-size: cover;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            background-color: white;
            background-repeat: no-repeat;
        }
    
        .artist_desrc {
            color: white;
            margin-top: 8px;
    
            h3 {
                font-size: 12px;
                font-weight: 700;
            }
    
            p {
                font-size: 10px;
                font-weight: 900;
                margin-top: 5px;
            }
        }
    }
   
}

.fan_like {
    margin-left: 30px;
}

.from_album_block:hover {
    background-color: #5A5A5A;
    cursor: pointer;
}

.from_album {
    margin: 0 30px;

    .from_album_tracks {
        margin-top: 3px;
    }
}

.from_album_block {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #262626;
    margin-top: 50px;
    display: flex;
    align-items: center;

    .album_poster {
        background-color: #1ED760;
        height: 60px;
        width: 60px;
        border-top-left-radius: 10px;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .descr_from_album {
        display: flex;
        flex-direction: column;
        gap: 5px;


        p {
            font-size: 10px;
            font-weight: 700;
        }

        h3 {
            font-size: 12px;
            font-weight: 800;
        }

        h3:hover {
            text-decoration: underline;
        }
    }
}