.back {
    display: block;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0px;
    z-index: -1;
    border-bottom: 1px solid #555555;
    background-image: url('/public/img/no_img.jpg');
    background-position: top !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.back::after {
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    background: linear-gradient(transparent, gray 95%);
    border-bottom: 1px solid #555555;
}

#main::after {
    content: "";
    display: none !important;
}

.playlist_descript_cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 110px;
}

.playlist_artist_cont {
    display: flex;
    gap: 5px;
    align-items: center;


    .artist_poster {
        width: 30px;
        height: 30px;
        background-image: url("/public/img/no_img.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100%;
    }
}

.album_div {
    margin-right: 90px;
    white-space: nowrap;
    width: 50px;

    p {
        font-size: 10px;
        color: #B0B0B0;
    }
}

.last_addDiv {
    margin-right: 30px;

    p {
        font-size: 10px;
        color: #B0B0B0;
        cursor: default;
    }
}

.track_name {
    white-space: nowrap;
}