.back {
    display: block;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0px;
    z-index: -1;
    border-bottom: 1px solid #555555;
    background-image: url('/public/img/no_img.jpg');
    background-position: top !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.about_song_cont {
    margin-left: 20px;
}

.back::after {
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    background: linear-gradient(transparent, gray 95%);
    border-bottom: 1px solid #555555;
}

#main::after {
    content: "";
    display: none !important;
}

main {
    color: white;
}

.playlist_descript_cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 180px;

    #type {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
    }
}

.playlist_artist_cont {
    display: flex;
    gap: 5px;
    align-items: center;


    p {
        font-size: 13px;
    }
}

.track_name {
    width: 150px;
    white-space: nowrap;
}

.play_cont {
    margin: 40px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 20px;

    .play_btn {
        background-color: #1ED760;
        border: none;
        padding: 5px 7px;
        margin-left: 10px;
        margin-right: 5px;
        border-radius: 100%;

        
        img  {
            width: 25px;
            margin-top: 2px;
            filter: invert(0);
        }
    }

    .submit {
        border-radius: 15px;
        border: 1px solid white;
        background-color: transparent;
        padding: 5px 7px;
        color: white;
        font-size: 12px;
    }

    button:hover {
        scale: 1.05;
    }

    img {
        width: 20px;
        filter: invert(50%);
        cursor: pointer;
    }

    img:hover {
        filter: invert(0);
        scale: 1.05;
        
    }

    .like_icon {
        width: 30px;
        margin-right: 5px;
    }
}