.all_tracks {
    margin-left: 30px;
    color: white;

    .song_cont {

        .song_bottom {
            display: flex !important;
            flex-wrap: wrap !important;
        }
    }
}

.footer_all {
    margin-top: -140px;
}