main {
    .about_song_cont {
        padding: 0 20px;
        color: white;
        display: flex;
        gap: 20px;
        margin-top: 30px;
        padding-bottom: 20px;

        .poster_cont {

            .song_poster {
                width: 200px;
                height: 200px;
                background-image: url("/public/img/no_img.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 5px;
            }
        }

        .descript_cont {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 50px;
            position: relative;

            h1 {
        text-overflow: ellipsis; 
        white-space: nowrap; 
        overflow: hidden;
            }

            p {
                font-size: 12px;
            }

            .artist_song {
                display: flex;
                position: absolute;
                bottom: 0;
                align-items: center;
                gap: 5px;
                width: 600px;


                


                .artist_poster {
                    width: 30px;
                    height: 30px;
                    background-image: url("/public/img/no_img.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 100%;
                }
            }
        }
    }

    .play_cont {
        margin: 40px 0;
        padding: 0 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        button {
            background-color: #1ED760;
            border: none;
            padding: 5px 7px;
            margin-left: 10px;
            margin-right: 5px;
            border-radius: 100%;

            
            img  {
                width: 25px;
                margin-top: 2px;
                filter: invert(0);
            }
        }

        button:hover {
            scale: 1.05;
        }

        img {
            width: 20px;
            filter: invert(50%);
            cursor: pointer;
        }

        img:hover {
            filter: invert(0);
            scale: 1.05;
            
        }

        .like_icon {
            width: 30px;
            margin-right: 5px;
        }
    }

    hr {
        border: 0.5px  solid #B0B0B0;
        margin-left: 25px;
        max-width: 1400px;
    }

    .all_tracks_cont {
        max-width: 1425px;
        margin-top: 20px;
        padding: 0 0 0 25px;

    }
    
}

.tracks_table {
    display: flex;
    align-items: center;
    color: #B0B0B0;
    max-width: 1430px;
    justify-content: space-between;
    padding: 0 0 10px 40px;


    .left_side {
        display: flex;
        gap: 15px;
        width: 100px;
        align-items: center;
    }
    .right_side {
        margin-right: 50px;
    }

    img {
        filter: invert(50%);
    }

    p {
        font-size: 12px;
    }
    
}

#main::after {
    content: "";
    display: block;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: linear-gradient(#555555 70%, transparent);
    border-bottom: 1px solid #555555;
}

.header_table {
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 1430px;
    background-color: #1A1A1A !important;
    border-bottom: 1px solid #B0B0B0;
    padding-top: 5px;
    padding-bottom: -5px;
}

.other_album  {
    margin-left: 30px;
    color: white;
}