.create-playlist-cont {
    background-color: #242424;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    p {
        font-size: 10px;
        color: white;
        font-weight: 600;
    }

    h6 {
        font-size: 8px;
        color: white;
        font-weight: 600;
    }

    button  {
        border-radius: 15px;
        border: none;
        padding: 5px 10px;
        width: fit-content;
        font-size: 10px;
        font-weight: 500;
        margin-top: 5px;
    }

    button:hover  {
        scale: 1.05;
    }
}


.bottom-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    height: 95%;

    .other-block {
        .other-cont {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
        
        
                a {
                    color:  #A7A7A7;
                    font-size: 8px;
                    text-decoration: none;
                }

                a:active {
                    border-bottom: 3px solid #A7A7A7;
                }
    
        }

        button {
            background-color: transparent;
            border: 1px solid white;
            border-radius: 15px;
            color: white;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 20px;
            font-size: 12px;
            font-weight: 700;
        }
    }
    
}


.audio-cont {
    .audio-block {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,#af2896,#509bf5);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-audio-block  {
            color: white;
         h3 {
            font-size: 10px;
            font-weight: 400;
         }   

         p {
            font-size: 11px;
            font-weight: 600;
            margin-top: 5px;
         }
        }

        .right-audiok-block {
            button {
                border: none;
                background-color: white;
                color: black;
                padding: 10px 15px;
                border-radius: 20px;
                font-size: 12px;
                font-weight: 700;
                margin-right: 10px;
            }

            button:hover {
                scale: 1.05;
            }
        }
    }
}

main::after {
    content: '';
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: linear-gradient(#1D1D1D 40%, transparent);
}

main {
    color: white;

    // .main-bottom {
    //     margin-left: 20px;
    //     margin-top: 100px;

    //     hr {
    //         margin: 40px 0;
    //         border: 1px solid #A7A7A7;
    //     }

    //     .main-link-bottom {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         margin-right: 40px;

    //         .main-link-bottom-left  {
    //             display: flex;
    //             gap: 10px;
    //         }

    //         a  {
    //             color: #A7A799;
    //             text-decoration: none;
    //         }
    //     }

    //     .network_block {
    //         display: flex;
    //         gap: 15px;

    //         button {
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             height: 40px;
    //             width: 40px;
    //             border-radius: 100%;
    //             background-color: #292929;
    //             border: none;
    //             cursor: default;
    //         }

    //         button:hover  {
    //             background-color: #717171;
    //         }
    //     }

    //     .main-link-top {
    //         display: flex;
    //         margin-right: 40px;

    //         .helpfull-links {
    //             width: 190px;
    //         }

    //         .main-links {
    //             display: flex;
    //             gap: 50px;
    //             width: 100%;


    //             div    {
    //                 display: flex;
    //                 flex-direction: column;
    //                 gap: 10px;

    //                 a {
    //                     text-decoration: none;
    //                     color: #A7A799;
    //                 }

    //                 a:hover  {
    //                     color: white;
    //                     text-decoration: underline;
    //                 }
    //             }
    //         }
    //     }
    // }

    .header-main {
        background-color: #121212;

        .header-left  {
            button {
                background-color: #0A0A0A;
            }
        }  


        .header-right {
            button {
                background-color: transparent;
                color: #A2A2A2;
            }

            .log-in {
                background-color: white;
                color: #242424;
                padding: 10px 20px;
                font-weight: 700;
            }

            .log-in:hover {
                color: #242424;
            }

            button:hover {
                color: white;
            }
        }
    }

    .song_cont {
        margin-left: 20px;
    }
}