.audio-cont {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.audio-player {
    width: 500px;
    padding: 15px;
    color: white;

    span {
        font-size: 10px;
    }
  }
  
  .audio-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .song-details {
    flex: 1;
  }
  
  .play-pause {
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 5px;

    .sec-btn {
        background-color: transparent;
        border: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
        }
    }

    .next-song {
        background-color: transparent;
        border: none;
        margin-top: 2px;
        cursor: pointer;

        img {
            width: 20px;
        }
    }


    .sec-btn:active {
        scale: .9;
    }
  }
  
  .play-button {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    border-radius: 50%;
    text-align: center;

    img {
        height: 25px;
    }
  }

  .play-button:active {
    scale: .9;
  }
  
  .audio-controls {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .left_audio {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;

    .song-poster {
        width: 40px;
        height: 40px;
        background-color: #A2A2A2;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    a {
        font-size: 10px;
        text-decoration: none;
        color: white;
    }

    p {
        font-size: 8px;
        color: #B3B3B3;
    }

    img {
        cursor: pointer;
    }
  }
  
  .progress-bar {
    height: 4px;
    background-color: #535353;
    width: 100%;
    border-radius: 2px;
  }

  .right-audio {
    display: flex;
    align-items: center;
  }
  
  .progress {
    height: 100%;
    width: 0;
    background-color: white;
    border-radius: 2px;
    position: relative;
    transition: 0.3s ease-in-out;

    .progress-btn {
        position: absolute;
        right: -5px;
        top: -2.5px;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background-color: white;
        opacity: 0;
    }
  }

  .progress-bar:hover {
    .progress {
        background-color: #1ED760;
        cursor: pointer;
    
        .progress-btn {
            opacity: 1;
        }
      }
      
  }
 
  .time {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .volume {
    display: flex;
    align-items: center;

  }
  
  .volume-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;

    img {
        width: 18px;
        filter: invert(30%);
    }

    img:hover {
        filter: invert(0%);
    }
  }
  
  .volume-slider {
    background-color: #4D4D4D;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    position: relative;

   

    .volume-dinamic {
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        position: relative;

        .volume-btn {
            position: absolute;
            top: -3px;
            right: -3px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: white;
            opacity: 0;
            cursor: pointer;

    
        }
    }
  }

  .volume-slider:hover   {
    .volume-dinamic {
        background-color: #1ED760;

        .volume-btn {
            opacity: 1;
        }
    }
  }