.header-main {
    height: 50px;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 6;
    background-color: #12121230;

    .user-setting-active {
        top: 40px !important;
        right: 15px !important;
        scale: 1 !important;
    }

    .user-setting-block {
        background-color: #282828;
        position: absolute;
        right: 0px;
        width: 160px;
        top: 0px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 3px;
        scale: 0;

        .log-out {
            border-top: 1px solid #3E3E3E;
        }

        .p-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;
            padding: 10px;

            p {
                font-size: 10px;
                color: #EAEAEA;
            }
        }

        .p-block:hover {
            background-color: #3E3E3E;
        }
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 5px;
        opacity: 1;
        color: white;

        .btn_play {
            background-color: #1ED760;
            border: none;
            padding: 7px;
            margin-left: 10px;
            margin-right: 5px;

            img  {
                width: 25px;
            }
        }

        .search_active {


            input {
                border: 2px solid white !important;
                color: white !important;
                transition: -0.3s;
            }

           



            img {
                filter: invert(0) !important;
            }
        }

        .input-block {
            position: relative;

            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-clear-button {
                appearance: none;
                display: block;
                width: 18px;
                height: 18px;
                background-image: url('/public/icons/close_icon.svg');
                background-repeat: no-repeat;
                background-position: right;
                background-size: 18px 18px;
                border: none;
                cursor: default;
                margin: 1px 0 0 5px;
            }

            .input_search {
                outline: none;
                background-color: #242424;
                color: #757575;
                border-radius: 20px;
                border: none;
                padding: 10px 10px 10px 30px;
                font-size: 12px;
                width: 270px;
            }

            img {
                position: absolute;
                left: 10px;
                top: 30%;
                filter: invert(50%);
            }
        }



        .input_search:hover {
            border: 1px solid #757575;

        }

        button {
            border-radius: 100%;
            background-color: #050505;
            border: none;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 16px;
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 8px;

        a {
            text-decoration: none;
        }

        button:hover {
            scale: 1.05;
        }

        button {
            border-radius: 15px;
            border: none;
            color: white;
            padding: 5px 8px;
            font-size: 10px;
            background-color: #080808;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;

            img {
                width: 12px;
            }
        }

        .user-btn {
            border-radius: 100%;
            padding: 5px;

            img {
                width: 16px;
            }

        }

        .btn-premium {
            background-color: white;
            color: #0D061C;
        }

    }

}