.header-main {
    height: 40px;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 6;

    .user-setting-active {
     top: 40px !important;
     right: 15px !important;
     scale: 1 !important;
    }

    .user-setting-block {
        background-color: #282828;
        position: absolute;
        right: 0px;
        width: 160px;
        top: 0px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 3px;
        scale: 0;

        .log-out {
            border-top: 1px solid #3E3E3E;
        }

        .p-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-radius: 2px;
            padding: 10px;

            p {
                font-size: 10px;
                color: #EAEAEA;
            }
        }
        .p-block:hover {
            background-color: #3E3E3E;
        }
    }

    .header-left{
        display: flex;
        align-items: center;
        gap: 5px;
        opacity: 1;

         .search_active {


            input {
            border: 2px solid white !important;
            color: white !important;
            }

            img {
                filter: invert(0) !important;
            }
         }

        .input-block {
            position: relative;

            .input_search {
                outline: none;
                background-color: #242424;
                color: #757575;
                border-radius: 15px;
                border: none;
                padding: 10px 10px 10px 25px;
                font-size: 12px;
                width: 270px;
            }

            img {
                position: absolute;
                left: 5px;
                top: 30%;
                filter: invert(50%);
            }
        }

        

        .input_search:hover {
            border: 1px solid #757575;

        }

        button {
            border-radius: 100%;
            background-color: #050505;
            border: none;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 16px;
            }
        }
    } 

    .header-right {
        display: flex;
        align-items: center;
        gap: 8px;

        a {
            text-decoration: none;
        }

        button:hover {
            scale: 1.05;
        }

        button {
            border-radius: 15px;
            border: none;
            color: white;
            padding: 5px 8px;
            font-size: 10px;
            background-color: #080808;
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;

            img {
                width: 12px;
            }
        }

        .user-btn {
            border-radius: 100%;
            padding: 5px;

            img {
                width: 16px;
            }
            
        }

        .btn-premium {
            background-color: white;
            color: #0D061C;
        }

    }

}