@media (max-width: 1530px) {
    main {

        .song_cont {

            .song_bottom {
            grid-template-columns: repeat(8, 1fr);
            }

            .song_bottom > :nth-child(n+9) {
                display: none;
              }
        }
    }
  }

  @media (max-width: 1390px) {
    main {

        .song_cont {

            .song_bottom {
            grid-template-columns: repeat(7, 1fr);
            }

            .song_bottom > :nth-child(n+8) {
                display: none;
              }
        }
    }
  }

  @media (max-width: 1260px) {
    main {

        .song_cont {

            .song_bottom {
            grid-template-columns: repeat(6, 1fr);
            }

            .song_bottom > :nth-child(n+7) {
                display: none;
              }
        }
    }
  }

  @media (max-width: 1120px) {
    main {

        .main-cont {
            .welcome-cont  {

                .welcome-block {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
       

        .song_cont {

            .song_bottom {
            grid-template-columns: repeat(5, 1fr);
            }

            .song_bottom > :nth-child(n+6) {
                display: none;
              }
        }
    }
  }

  @media (max-width: 990px) {
    main {

        .song_cont {

            .song_bottom {
            grid-template-columns: repeat(4, 1fr);
            }

            .song_bottom > :nth-child(n+5) {
                display: none;
              }
        }
    }
  }

  
  @media (max-width: 850px) {
    main {

        .main-bottom  {
            .main-link-bottom {
                flex-direction: column;
                align-items: start;

                .main-link-bottom-right {

                    p {
                        margin-top: 10px;
                    }
                }
            }
        }

        .header-main {

            
            .header-right {

                .btn-premium {
                    display: none;
                }
            }
        }

        .song_cont {

            .song_bottom {
            grid-template-columns: repeat(3, 1fr);
            }

            .song_bottom > :nth-child(n+4) {
                display: none;
              }
        }



    }

    .audio-cont {

        .audio-player {
            width: 400px;
           
            // .audio-info {
            //     .play-button {
            //         width: 20px;
            //         height: 20px;

            //         img {
            //             height: 20px;
            //         }
            //     }

            //     img {
            //         width: 15px;
            //     }
            // }


            .audio-controls {
                width: auto;
            }
        }

        .left_audio {
            align-items: center;

            .song-poster {
                width: 30px;
                height: 30px;
            }

            a {
                font-size: 8px;
                text-decoration: none;
                color: white;
            }
        
            p {
                font-size: 6px;
                color: #B3B3B3;
            }
        
            img {
                cursor: pointer;
                width: 15px;
            }
        }
    }
  }

  @media (max-width: 710px) {

    aside {
    min-width: 250px;
    max-width: 250px;
    }
    main {
        width: calc(100% - 260px);
        left: calc(260px);

        .song_cont {

            .song_top {
                h1 {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden; 
                text-overflow: ellipsis;
                }

            }

            .song_bottom {
            grid-template-columns: repeat(2, 1fr);
            }

            .song_bottom > :nth-child(n+3) {
                display: none;
              }
        }
    }

    
  }

  
  @media (max-width: 740px) {
    .audio-cont {

        .audio-player {
            width: 300px;
           
            .audio-info {
                .play-button {
                    width: 20px;
                    height: 20px;

                    img {
                        height: 20px;
                    }
                }

                img {
                    width: 15px;
                }
            }


            .audio-controls {
                width: auto;
            }
        }

        .left_audio {
            align-items: center;

            .song-poster {
                width: 30px;
                height: 30px;
            }

            a {
                font-size: 8px;
                text-decoration: none;
                color: white;
            }
        
            p {
                font-size: 6px;
                color: #B3B3B3;
            }
        
            img {
                cursor: pointer;
                width: 15px;
            }
        }
    }
    main {

        .main-cont {
            .welcome-cont  {

                .welcome-block {
                    grid-auto-rows: 40px;

                    .welcome_song_block {
                        

                    .song_poster {
                        height: 100%;
                        width: 20%;
                    }

                        .song_name {
                            margin-left: 25%;
    
                            p  {
                                font-size: 8px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

    }
  }

  
  @media (max-width: 610px) {
    .audio-cont {


        .right_audio {

            .volume {
                width: 100px;
            }
        }

        .audio-player {
            width: 300px;
           
            .audio-info {
                .play-button {
                    width: 20px;
                    height: 20px;

                    img {
                        height: 20px;
                    }
                }

                img {
                    width: 15px;
                }
            }


            .audio-controls {
                width: auto;
            }
        }

        .left_audio {
            align-items: center;

            .song-poster {
                width: 20px;
                height: 20px;
            }

            a {
                font-size: 8px;
                text-decoration: none;
                color: white;
            }
        
            p {
                font-size: 7px;
                color: #B3B3B3;
            }
        
            img {
                cursor: pointer;
                width: 12px;
            }
        }
    }
  }

  @media (max-width: 640px) {

    
    aside {
        min-width: 200px;
        max-width: 200px;

        
.aside-bottom  {
    padding: 5px 10px;

        .search_mediateka_block {
    
            .filter_recent_block {
                display: none;
            }
        }
        
    .mediate_song_block {

        
        .mediateka_song {
            p {
                font-size: 8px;
            }

            span {
                font-size: 8px;
            }

        }
    }
}
        }
    main {
        width: calc(100% - 210px);
        left: calc(210px);

        .main-cont {
            .song_cont {

                .song_top {
                    h1 {
                        font-size: 10px;
                    }

                    p  {
                        font-size: 8px;
                    }
                }
            }

            .welcome-cont  {

                .welcome-block {
                    grid-auto-rows: 30px;

                    .welcome_song_block {
                        

                    .song_poster {
                        height: 100%;
                        width: 20%;
                    }

                        .song_name {
                            margin-left: 25%;
    
                            p  {
                                font-size: 6px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
           
        }

    }
  }

  
  @media (max-width: 555px) {

    main  {
        .main-bottom  {
            .main-link-top {
                flex-direction: column;
                align-items: start;

                .network_block {
                    margin-top: 20px;
                }
            }
        }
  }
    .audio-cont {
        padding: 5px 10px;


        .right_audio {

            .volume {
                width: 70px;

                .volume-button  {
                    width: 20px;

                    img {
                        width: 13px;
                        filter: invert(30%);
                    }
                
                }
            }
        }

        .audio-player {
            width: 200px;
           
            .audio-info {
                .play-button {
                    width: 15px;
                    height: 15px;

                    img {
                        height: 15px;
                    }
                }

                img {
                    width: 15px;
                }
            }


            .audio-controls {
                width: auto;

                .current-time {
                    font-size: 6px;
                }

                .duration {
                    font-size: 6px;
                }
            }
        }

        .left_audio {
            align-items: center;

            .song-poster {
                width: 18px;
                height: 18px;
            }

            a {
                font-size: 7px;
                text-decoration: none;
                color: white;
            }
        
            p {
                font-size: 6px;
                color: #B3B3B3;
            }
        
            img {
                cursor: pointer;
                width: 10px;
            }
        }
    }
  }

  
  @media (max-width: 510px) {
    aside {
        min-width: 150px;
        max-width: 150px;

        
.aside-bottom  {
    padding: 5px 10px;

    .search_mediateka_block {


        .search-input {
            margin-right: 5px;
            flex-grow: 1;
        }

        .filter_recent_block {
            flex-grow: 1;
        }
    }


        .mediaTeka-block {

            .left-mediateka {
                span {
                    font-size: 8px;
                }

                gap: 5px;

                img  {
                    width: 10px;
                }
            }

            .rightmedia-teka {
                gap: 5px;
                
            div {

                img {
                    width: 10px;
                }
            }

            }
        }
    .mediate_song_block {

        
        .mediateka_song {
            p {
                font-size: 8px;
            }

            span {
                font-size: 8px;
            }

        }
    }
}
        }

    main {
        width: calc(100% - 160px);
        left: calc(160px);
        .header-main {

            .header-left {

                .btn_right {
                    display: none;
                }
            }

            .header-right {

                .download-app {
                    padding: 3px 5px;
                    font-size: 7px;

                    img {
                        width: 8px;
                    }
                }

                .user-btn {
                    border-radius: 100%;
                    padding: 3px;
        
                    img {
                        width: 10px;
                    }
        
                }
            }
        }

        .main-cont {
            .welcome-cont  {

                .welcome_h1 {
                    font-size: 14px;
                }
    
                .welcome-block {
                    grid-auto-rows: 20px;
    
                    .welcome_song_block {
                        
    
                    .song_poster {
                        height: 100%;
                        width: 20%;
                    }
    
                        .song_name {
                            margin-left: 25%;
    
                            p  {
                                font-size: 4px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
       
    }
  }

  
  @media (max-width: 440px) {
    main {
       

        .song_cont {

            // .song_top {
            //     h1 {
            //         font-size: 14px;
            //     }
            // }

            .song_bottom {


                .song_block {
                    width: 100px;
                    height: 150px;

                    .song_description {

                        p {
                            font-size: 8px;
                        }

                        span {
                            font-size: 7px;
                        }
                    }

                    .song_poster {
                        height: 80px;
                        width: 80px;
                    }
                }
            }

        }
    }
  }

  @media (max-width: 390px) {
    main {
        .header-main {
            padding: 0 10px;
        }

        .main-cont  {

            
            .song_cont {
                gap: 5px;
                margin: 20px 0 0 0;
                height: 120px;
                flex-wrap: nowrap;

                .song_top {
                    h1 {
                        font-size: 8px;
                    }
    
                    p {
                        font-size: 6px;
                    }
                }
    
                .song_bottom {
    
    
                    .song_block {
                        width: 70px;
                        height: 100px;
    
                        .song_description {
    
                            p {
                                font-size: 7px;
                            }
    
                            span {
                                font-size: 6px;
                            }
                        }
    
                        .song_poster {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
    
            }
        }
        
    }
  }