.track_block:hover {
    background-color: #313538;

    .album_div {
        p {
            color: white;
        }

        p:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .right_track_side {
        img {
            opacity: 1;
        }
    }

    .left_track_side {

        .track_name {

            span {
                color: white;
            }

            span:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            p:hover {
                cursor: pointer;
                text-decoration: underline;
            }


        }

        .hidden_icon {
            display: block;
        }

        #track_number {
            opacity: 0;
            cursor: default;
        }
    }
}

.track_block  {
    color: white;
    max-width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;

    .right_track_side {
        display: flex;
        gap: 15px;

        p {
            font-size: 12px;
            color: #B0B0B0;
            margin-left: 20px;
        }

        img {
            filter: invert(50%);
            cursor: pointer;
            opacity: 0;
        }

        img:hover {
            filter: invert(0%);
            scale: 1.05;
        }

       
    }

    .left_track_side {
        display: flex;
        gap: 20px;
        align-items: center;
        position: relative;

        .hidden_icon {
        all: unset;
        position: absolute;
        left: -7px;
        top: 5px;
        display: none;
        border-radius: 100%;
        z-index: 11;
        cursor: default;

        img {
            width: 25px;
            filter: invert(100%);
            cursor: default;
        }

        }

        span {
            font-size: 14px;
        }

        .track_name {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                font-size: 12px;
            }

            span {
                font-size: 10px;
                color: #B0B0B0;
            }
        }
    }
}